<h1>Employees System</h1>
<p>Welcome, this is the Hand On Test application for showing Employees data, adding the calculation of their annual salaries. </p>
<p>In this app, you are goingo to see the list of employees with all their personal information, including their annual salaries. 
    The app, allows you to filter employees by Id. If the employee Id doen't exist in our database, it shows an error message.</p>
<p><strong>Let's start!</strong></p><p> Please, click in the link (or navigate through the nav side bar)</p>
<a [routerLink]="['/employee']">Go to employees page</a>